@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
}
.flex {
  display: flex;
}
h1 {
  font-size: 50px;
  font-weight: 500;
}
.color {
  color: orange;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
  color: aliceblue;
  padding: 10px 40px;
  font-weight: 700;
}
.section_1 {
  background-image: url("./images/top-banner.png");
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 90%;
}
.section_2 {
  background-image: url("./images/dream-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}

.experiances {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.box {
  width: 40%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 20px;
  margin-bottom: 100px;
}
.extra {
  margin-left: 4%;
}
.border1 {
  border-left: 7px solid green;
}
.border2 {
  border-left: 7px solid orange;
}
footer {
  text-align: center;
}
